<section>
  <div class="page-header"><h1>{{ 'INSTRUCTIONS_TITLE' | translate }}</h1></div>

      <ol>
        <p>The instructions here are for the Endwalker-updated version of the tool, and have been written on 1-1-2022.</p>
        <p>Suggestions and issues can be placed at https://github.com/NotRanged/NotRanged.github.io/issues</p>
        <p>It is recommended that you follow these instructions in order to achieve optimal results from this crafting tool!</p>

        <h2>Step 1 -- Setting up your crafter attributes</h2>
        <p1>Before you can use this tool to generate crafting rotations, you must input your crafter attributes. <a ui-sref="crafter-attributes"><small><i class="fa fa-edit"></i></small></a></p1><br>
        <p1>Fill in your main stats on the left, and press the 'Guaranteed (By Level)' button. This will activate all 100% success chance actions for the solver to use. Using chance-based actions like Rapid Synthesis is ill advised to gain good results with from this tool.</p1><br>
        <p1>Recipes will now become according to the level you filled in here.</p1>
        
        <h2>Step 2 -- Setting up an Initial Guess</h2>
        <p1>Before starting the solver, it is recommended you give it an 'initial guess' to work with. This is a sequence of actions upon which every iteration of the solver will base its solution.</p1><br>
        <p1>You do this by going into the 'Simulator' tab of the tool. Here, select your class from the dropdown menu, and then select the recipe you wish to craft.</p1><br>
        <p1>In the bottom part of the screen, press the blue 'Edit' button to bring up the possible actions. The actions you select here will form your intitial guess. Think of it as giving your solver an opener to use!</p1><br>
        <p1>Fill in a quick sequence of actions you want as opener, like 'Muscle Memory', 'Waste Not II', 'Manipulation', and hit Save.</p1>

        <h2>Step 3 -- Running the Solver</h2>
        <p1>Now it's time to actually solve your craft. Go to the Solver tab, and fill in the final requirements; Food, Medicine, Starting Quality if you use HQ  mats...</p1><br>
        <p1>When you're ready, hit 'Start', and watch as the magic begins to happen!</p1><br>
        <p1>By default, the solver will run for a few thousand generations. <b>You do not need to wait for it to finish.</b></p1><br>
        <p1>Keep it running for as long as you want while you observe the results. Once you think it is 'good enough', or believe it won't improve any further, hit 'Stop'.</p1><br>
        <p1>Scroll down, and select the 'Macro' tab at the bottom. Paste this list of actions into an in-game macro, and you're done!</p1>

        <h1>----OLD INSTRUCTIONS FOLLOW HERE----</h1>
        <p1>These instructions are written for the original version of this tool found at https://ffxiv-beta.lokyst.net/.</p1>
        <p1>This version of the tool has changed a lot from the Lokyst version, and the instructions below are out of date, though perhaps still of limited use.</p1>
        <li>{{ 'INSTRUCTIONS_STEP_1' | translate }}<b>{{ 'NAV_CRAFTER_ATTRIBUTES' | translate }}</b>{{ 'SECTION' | translate }}<br/> <img src="img/instructions/CrafterDetails{{ 'Locale_Mark' | translate }}.jpg"/></li>

        <li>{{ 'INSTRUCTIONS_STEP_2' | translate }}</li>
        <li>{{ 'INSTRUCTIONS_STEP_3' | translate }}</li>
        <li>{{ 'INSTRUCTIONS_STEP_4' | translate }}<b>{{ 'AVAILABLE_ACTIONS' | translate }}</b>{{ 'SECTION' | translate }}<br/> <img src="img/instructions/AvailableActions{{ 'Locale_Mark' | translate }}.jpg"/></li>
        <li>{{ 'INSTRUCTIONS_STEP_5' | translate }}</li>
        <li>{{ 'INSTRUCTIONS_STEP_6' | translate }}</li>
        <li>{{ 'INSTRUCTIONS_STEP_7' | translate }}<b>{{ 'NAV_SIMULATOR' | translate }}</b>{{ 'SECTION' | translate }}<br/> <img src="img/instructions/SynthDetails{{ 'Locale_Mark' | translate }}.jpg"/></li>
        <li>{{ 'INSTRUCTIONS_STEP_8' | translate }}</li>
        <li>{{ 'INSTRUCTIONS_STEP_9' | translate }}</li>
        <li>{{ 'INSTRUCTIONS_STEP_10' | translate }}</li>
        <li>{{ 'INSTRUCTIONS_STEP_11' | translate }}</li>
        <li>{{ 'INSTRUCTIONS_STEP_12' | translate }}</li>
        <li>{{ 'INSTRUCTIONS_STEP_13' | translate }}<b>{{ 'NAV_SIMULATOR' | translate }}</b>{{ 'SECTION' | translate }}<br/> <img src="img/instructions/Simulator{{ 'Locale_Mark' | translate }}.jpg"/></li>
        <li>{{ 'INSTRUCTIONS_STEP_14' | translate }}<br/> <img src="img/instructions/SequenceEditor{{ 'Locale_Mark' | translate }}.jpg"/></li>
        <li>{{ 'INSTRUCTIONS_STEP_15' | translate }}<b>{{ 'SAVE' | translate }}</b>.</li>
        <li>{{ 'INSTRUCTIONS_STEP_16' | translate }}<b>{{ 'SOLVE' | translate }}</b></li>
        <li>{{ 'INSTRUCTIONS_STEP_17' | translate }}<b>{{ 'OPTIONS' | translate }}</b>{{ 'SECTION' | translate }}</li>
        <li>{{ 'INSTRUCTIONS_STEP_18' | translate }}<b>{{ 'MONTE_CARLO_SIM' | translate }}/{{ 'PROBABILISTIC_SIM' | translate }}</b>{{ 'SECTION' | translate }}<br/> <img src="img/instructions/SimulationLog{{ 'Locale_Mark' | translate }}.jpg"/></li>
        <li>{{ 'INSTRUCTIONS_STEP_19' | translate }}<br/>{{ 'ABBREVIATIONS' | translate }}
          <ul>
            <li>{{ 'DUR_ABBREVIATION' | translate }}</li>
            <li>{{ 'CP_ABBREVIATION' | translate }}</li>
            <li>{{ 'EQUA_ABBREVIATION' | translate }}</li>
            <li>{{ 'EPRG_ABBREVIATION' | translate }}</li>
            <li>{{ 'WAC_ABBREVIATION' | translate }}</li>
          </ul>
        </li>
        <li>{{ 'INSTRUCTIONS_STEP_20' | translate }}</li>
        <li>{{ 'INSTRUCTIONS_STEP_21' | translate }}</li>
      </ol>
</section>

<section>
  <div class="page-header"><h1>{{ 'USING_SOLVER' | translate }}</h1></div>

      <p>{{ 'USING_SOLVER_INFO' | translate }}

      <ol>
        <li>{{ 'USING_SOLVER_STEP_1' | translate }}</li>
        <li>{{ 'USING_SOLVER_STEP_2' | translate }}</li>
        <li>{{ 'USING_SOLVER_STEP_3' | translate }}</li>
        <li>{{ 'USING_SOLVER_STEP_4' | translate }}</li>
        <li>{{ 'USING_SOLVER_STEP_5' | translate }}</li>
      </ol>
</section>
